body {
    background: linear-gradient(rgb(128, 70, 105), rgb(236, 76, 175)); 
}
.Tarjetas{
    margin-left: 35px;
    margin-bottom: 40px;
}

h1 {
    color: #ffffff;
    font-family: 'Georgia';
    font-size: 50px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-family: 'Georgia';
    font-size: 20px;
    margin-left: 30px;
    text-align: left;
}